@media (max-width: 767px)
  // .pull-left, .pull-right
  //   float: none !important

  #wrapper
    padding-bottom: 120px

  #top
    text-align: center
    padding: 0
    #top-nav
      display: inline-block
      list-style: none
      padding: 0
      margin: 0
      width: 100%

      > li
        display: inline-block

    select
      display: none

  #header
    margin-bottom: 30px

  ul.nav li a
    display: inline-block

  .search-btn
    display: none

  h1
    font-size: 34px
    margin-bottom: 25px

  h2
    font-size: 28px
    margin-bottom: 15px

  .newsletter-subscribe
    padding: 25px 0 60px

    form
      padding: 0 15px

      label
        font-size: 22px
        margin: 5px 0 15px

      input[type="email"]
        border-radius: 5px 15px 15px 5px
        height: 50px
        font-size: 16px
        padding-left: 12px
        padding-right: 120px

      input[type="submit"]
        right: 15px
        border-radius: 0 4px 4px 0
        height: 50px
        font-size: 14px

  .woocommerce-ordering
    float: none
    margin: 0 0 25px 0
    text-align: left

  ul.products>li.product
    width: 100%
    margin-bottom: 30px !important

  .single-product
    h1
      margin-bottom: 20px

    .drop-left-col
      padding: 0
      margin-bottom: 40px

    .images
      margin-bottom: 30px

    .summary
      position: static
      width: 100%

      .demo-like
        .button
          width: 48.5%

    .related
      margin-top: 35px
      ul.products>li.product
        width: 50%
        padding: 0 10px

  .woocommerce-tabs
    ul.tabs
      li
        position: relative
        &.active a:after
          content: ""
          display: block
          position: absolute
          bottom: -4px
          left: 1px
          right: 1px
          height: 4px
          background: #eef2f2