*
  box-sizing: border-box

body
  background-color: #eef2f2
  padding: 0

#top
  padding: 0
  margin: 0
  background-color: #f6f8f8
  border-bottom: 1px solid #d8dddd
  height: 41px
  ul.nav > li a
    padding: 0 14px
    line-height: 40px

#header
  padding: 0
  height: 81px
  background-color: #fff
  border-bottom: 1px solid #d8dddd
  margin-bottom: 60px
  max-width: 100%
  text-align: center
  #logo
    margin: 12px 0 0 15px
  #navigation
    float: none
    margin: 0
    ul.nav
      float: none

ul.nav li
  float: none
  display: inline-block

.footer-wrap
  margin: 0
  padding: 0
  background-color: #000

.pull-left
  float: left

.pull-right
  float: right

.clearfix:after
  content: ""
  display: table
  clear: both