$orange: #ef9544
$blue: #32b9b1
$green: #51be38
$red: #f05a5b

*
  box-sizing: border-box
  outline: none

body
  font-family: "Source Sans Pro", sans-serif
  background-color: #eef2f2
  padding: 0
  color: #000

h1, h2, h3, h4, h5, h6
  font-family: "Source Sans Pro", sans-serif

h1
  font-size: 44px
  font-weight: 600
  letter-spacing: -0.03em
  margin: 0 0 15px
  line-height: 1.1

/*-----------------------------------------------------------------------------------*/
/*  Header/footer
/*-----------------------------------------------------------------------------------*/
#top
  padding: 0
  margin: 0
  background-color: #f6f8f8
  border-bottom: 1px solid #d8dddd
  height: 41px
  ul.nav > li a
    padding: 0 14px
    line-height: 40px
    color: #555
    &:hover
      color: #000

#header
  padding: 0
  height: 81px
  background-color: #fff
  border-bottom: 1px solid #d8dddd
  margin-bottom: 50px
  max-width: 100%
  text-align: center
  #logo
    margin: 12px 0 0 15px
    img
      display: block
  #navigation
    float: none
    margin: 0
    ul.nav
      float: none
      display: inline-block

      > li
        float: none
        display: inline-block

        > a
          display: inline-block
          height: 80px
          line-height: 76px
          color: #000
          font-size: 16px
          padding: 0 15px
          font-weight: 600
          border-radius: 0
          border: 0
          background-color: transparent

          &:hover
            border: 0
            background-color: #f8fafa

        &.current-menu-item > a, .current_page_item > a
          color: $blue
          background-color: transparent

  ul.nav
    > li
      &.search
        padding: 20px 15px
        label
          display: none
        input[type="submit"]
          display: none
        input[type="search"]
          box-shadow: none
          background-color: #fff
          border-color: #d8dddd
          padding: 8px 12px 8px 12px
          border-radius: 4px
          margin: 0

      &.cart
        a
          height: 80px
          background: url(images/cart.png) no-repeat 0 0
          background-size: auto 26px
          padding: 0 20px 0 62px
          margin: 0
          background-position: 20px 26px
          font-size: 22px
          color: #000
          line-height: 75px

          &:hover
            background-color: #f8fafa

        .amount
          display: none

.footer-wrap
  margin: 0
  background-color: #000
  padding: 22px 0
  height: 100px
  width: 100%
  overflow: hidden

  footer
    padding: 0
    max-width: 1000px
    margin: 0 auto
    color: #999
    font-weight: 600

  .logo
    display: inline-block
    vertical-align: middle
    margin-right: 35px

  p
    display: inline-block

  .menu-footer-container
    display: inline-block

  ul
    display: inline-block
    list-style: none

    > li
      display: inline-block
      > a
        color: #999
        display: inline-block
        margin-right: 20px
        &:hover
          color: #333

/*-----------------------------------------------------------------------------------*/
/*  Global
/*-----------------------------------------------------------------------------------*/
#content
  max-width: 1020px
  padding: 0 15px

#main
  width: 100%

/*-----------------------------------------------------------------------------------*/
/*  Buttons
/*-----------------------------------------------------------------------------------*/
a.button, button.button, button.button.alt, a.button.alt, .button a
  box-shadow: none
  text-shadow: none
  font-family: "Source Sans Pro", sans-serif
  font-weight: 600
  font-size: 15px
  border: 1px solid #bec2c2
  border-radius: 4px
  padding: 8px 12px
  color: #555555
  text-align: center

  &:hover
    color: #000
    background-color: #fff

/*-----------------------------------------------------------------------------------*/
/*  Forms
/*-----------------------------------------------------------------------------------*/
form
  margin: 0

select
  font-family: "Source Sans Pro", sans-serif
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: #555
  background-color: #fff
  background-image: none
  border: 1px solid #ccc
  border-radius: 4px

/*-----------------------------------------------------------------------------------*/
/*  Shop main
/*-----------------------------------------------------------------------------------*/
.woocommerce-result-count
  display: none

.woocommerce-ordering
  width: 100%
  float: none
  margin-bottom: 40px
  margin-top: -56px

ul.products
  margin-left: -15px !important
  margin-right: -15px
  margin-bottom: 40px

  > li.product
    width: 33.33%
    margin: 0 0 35px !important
    padding: 0 15px
    text-align: left
    clear: none !important

    .thumbnail
      border-radius: 6px
      margin-bottom: 12px
      overflow: hidden
      position: relative

      &:after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 10
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.15)
        border-radius: 6px

    img
      padding: 0
      border: 0
      display: block
      margin: 0

    .price
      float: right
      color: $blue
      font-size: 19px
      margin-top: -3px
      letter-spacing: -.02em
      margin-left: 15px

      ins
        margin-left: 6px
        color: $red

    h3
      font-weight: 600
      font-size: 17px
      text-overflow: ellipsis
      white-space: nowrap
      overflow: hidden
      margin-bottom: 2px

    .avatar
      display: inline-block
      margin-right: 5px
      vertical-align: middle

      img
        border-radius: 50%
        width: 30px
        margin: 0

    .author
      display: inline-block
      vertical-align: middle
      margin: 0

    .star-rating
      display: none

    a
      display: block
      &:hover
        h3
          color: #000
          opacity: .5

/*-----------------------------------------------------------------------------------*/
/*  Drop detail
/*-----------------------------------------------------------------------------------*/
.single-product
  h1
    margin-bottom: 40px

  .onsale
    display: none

  .images
    width: 100%
    padding-right: 300px
    float: none
    position: relative

    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 300px
      height: 100%
      z-index: 10
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.15)
      border-radius: 6px

    img
      padding: 0
      border: 0
      display: block
      margin: 0
      border-radius: 6px

  .summary
    float: right
    width: 250px
    position: relative
    z-index: 10

    table.variations
      margin: 0 0 5px

      td
        padding: 0
        vertical-align: middle

        &.label
          padding-right: 20px
          width: 60px
          color: #000

        &.value
          select
            float: right
            width: 100%

      .reset_variations
        display: none !important

    .price
      font-size: 36px !important
      font-weight: 600 !important
      color: #777 !important
      letter-spacing: -.02em
      margin-bottom: 5px !important

      ins
        margin-left: 12px
        color: $red
        font-weight: 600

    .single_add_to_cart_button
      width: 100%
      background: $blue
      color: #fff
      font-size: 20px
      font-weight: 600
      margin: 0 0 15px
      padding-top: 11px
      padding-bottom: 12px
      border: 0

      &:hover
        color: #fff
        background: darken($blue,4%)

    .demo-like
      margin-bottom: 30px
      .button
        width: 120px

        a
          display: block

        &.demo
          float: left
        &.likes
          float: right

    .zilla-likes
      border: 1px solid #bec2c2 !important
      margin: 0
      font-size: 17px
      height: 42px
      padding-top: 6px
      padding-left: 62px
      background: url(images/heart.png) no-repeat 34px center
      text-align: left

      &:hover, &.active
        background-image: url(images/heart-active.png)
        padding-left: 62px !important
        margin: 0 !important

      &:hover
        background-color: #fff

    .star-rating
      margin-bottom: 30px
      font-size: 20px
      letter-spacing: .1em
      width: 114px

      span:before
        color: #eeab2b

      &:before
        color: #d1d5d5

/*-----------------------------------------------------------------------------------*/
/*  Helper classes
/*-----------------------------------------------------------------------------------*/
.pull-left
  float: left

.pull-right
  float: right

.clearfix:after
  content: ""
  display: table
  clear: both